<div class="container" style="height:561px">
    <br>
    <div class="row ">
        <div class="row col s12 m6">

            
            <div class="row">
                <h3>{{target}}</h3>
            </div>
            <div>
                <div class="row">
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="0" ></button>
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="1" ></button>
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="2" ></button>

                </div>
                <div class="row">
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="3" ></button>
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="4" ></button>
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="5" ></button>

                </div>    
                 <div class="row">
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="6" ></button>
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="7" ></button>
                    <button class="waves-effect waves-light btn-large" style="font-size:250%;height:90px;width:90px" id="8" ></button>

                </div>    
            </div>
            <br>
            <div class="row">
                <button class="waves-effect waves-light btn-large blue" style="font-size:250%" id="o0"></button>
                <button class="waves-effect waves-light btn-large green" style="font-size:250%" id="o1" ></button>
                <button class="waves-effect waves-light btn-large orange" style="font-size:250%" id="o2" ></button>
                <button class="waves-effect waves-light btn-large purple" style="font-size:250%" id="o3" ></button>
            </div>
        </div>

        <div class="row col s12 m6">
            <div class="row">
                <!--<a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">play_arrow</i></a>-->
                <a style="size:222px" ng-click="reload()" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">replay</i></a>
                <!--<a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">fast_forward</i></a>-->
            </div>
            <div class="row">
                <span id="num1" class="blue-text" style="font-size:300%"> </span><span id="opt" class="green-text"  style="font-size:300%"> </span><span id="num2" class="pink-text"  style="font-size:300%"> </span><span id="answer" style="font-size:300%"> </span>
            </div>
            
            <span id="check" style="font-size:300%"></span>
            
           <!-- <span id="countdown" style="font-size:300%"></span>-->
        </div>
        <!--<span id="countdown" style="font-size:300%"></span>-->

    </div>
</div>
<!-- /.container -->